development:
  address: "smtp.canvas.steminds.com"
  port: "25"
  user_name: "user"
  password: "password"
  authentication: "plain" # plain, login, or cram_md5
  domain: "canvas.steminds.com"
  outgoing_address: "canvas@canvas.steminds.com"
  default_name: "Instructure Canvas"

# or to use sendmail --
#
# development:
#   delivery_method: "sendmail"

test:
  delivery_method: "test"

production:
  address: "smtp.canvas.steminds.com"
  port: "25"
  user_name: "user"
  password: "password"
  authentication: "plain" # plain, login, or cram_md5
  domain: "canvas.steminds.com"
  outgoing_address: "canvas@canvas.steminds.com"
  default_name: "Instructure Canvas"

# If receiving mail from multiple inboxes (see incoming_mail.yml.example),
# you'll want to include those addresses in a reply_to_addresses array so
# Canvas will select the Reply-To field of outgoing messages from all of the
# incoming mailboxes.

multiple_inboxes:
  address: "smtp.canvas.steminds.com"
  port: "25"
  user_name: "user"
  password: "password"
  authentication: "plain" # plain, login, or cram_md5
  domain: "canvas.steminds.com"
  outgoing_address: "canvas@canvas.steminds.com"
  default_name: "Instructure Canvas"
  reply_to_addresses:
  - "canvas1@canvas.steminds.com"
  - "canvas2@canvas.steminds.com"
  - "canvas3@canvas.steminds.com"
  - "canvas4@canvas.steminds.com"
